header p{
    display: inline;
    color: rgb(0, 15, 65);
    
}

header{
    background-color: gray;
    padding: 5px;
}
#mainHeading{
    color: rgb(0, 15, 65);
    text-align: center;
}

#container{
    text-align: center;
    margin: 10px auto;
    border: 4px solid rgb(50,50,50);
}